.main_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    // color: white;
    min-height: 80vh;
    padding: 1em;
    font-family: 'Poppins', sans-serif;
    .register {
        // /* From https://css.glass */
        // background: rgba(255, 255, 255, 0.16);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        // backdrop-filter: blur(5px);
        // -webkit-backdrop-filter: blur(5px);
        // border: 1px solid rgba(255, 255, 255, 0.37);

        width: 50%;
        padding: 1.5em;
        background-color: white;

        .btn_group{
            display: flex;
            gap: 1em;
        }
    }

}