<div class="main_wrapper">
    <div class="kanban">
      <p class="display-6 mb-4">Simple Kanban Board</p>
      <h2 class="h2">📌 Project Overview</h2>
      <p>
        This is an <strong>Angular-based Kanban Board</strong> application that allows users to create, manage, and track tasks. 
        The application uses <strong>Reactive Forms</strong> for user input and integrates API data for task retrieval and updates. 
        The application also implements user authentication and authorization, and route protection using <strong>authGuard</strong>.
      </p>
      <p>
        The backend of this application is written using <strong>Python's Flask</strong> framework, and the database is implemented using <strong>MongoDB</strong>.
      </p>
    
      <h2 class="h2">🚀 Features</h2>
      <ul>
        <li>User registration, login, and authentication</li>
        <li>CRUD operations for tasks</li>
        <li>Reactive Forms for managing task input</li>
        <li>API Integration for fetching and updating tasks</li>
        <li>Flask for REST API implementation</li>
        <li>MongoDB for database storage</li>
      </ul>
    
      <h2>🛠️ Technologies Used</h2>
      <ul>
        <li>Angular 19 (CLI)</li>
        <li>TypeScript</li>
        <li>Python 3.13.1</li>
        <li>Flask</li>
        <li>JWT Tokens, Flask-Bcrypt</li>
        <li>PyMongo</li>
        <li>Bootstrap 5</li>
        <li>HttpClient for HTTP requests</li>
        <li>Reactive Forms for user input</li>
        <li>AuthGuard for route protection</li>
      </ul>
    
      <h2>📜 License</h2>
      <p>This project is licensed under the <strong>MIT License</strong>.</p>
    
      <h2>📞 Contact</h2>
      <p>For any issues or suggestions, reach out via:</p>
      <ul>
        <li>Email: <a href="mailto:chakrabortyannie20@gmail.com">{{'chakrabortyannie20@gmail.com'}}</a></li>
        <li>GitHub: <a href="https://github.com/anniechakraborty" target="_blank">https://github.com/anniechakraborty</a></li>
      </ul>
    </div>
  </div>
  