.main_wrapper{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,22,33,1) 16%, rgba(164,170,174,1) 51%, rgba(20,22,33,1) 84%, rgba(0,0,0,1) 100%);
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
    font-family: "Roboto", sans-serif;
}