.main_wrapper{
    background: rgb(143,72,191);
    background: linear-gradient(90deg, rgba(143,72,191,1) 2%, rgba(219,49,49,1) 41%, rgba(233,130,51,1) 85%, rgba(252,176,69,1) 100%, rgba(241,149,19,1) 100%);
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
    font-family: "Roboto", sans-serif;
}